.contact-last{
    box-shadow:-5px -5px 300px 10px rgba(6, 255, 217, 0.1 ) inset; 
}
.contact-button{
    height:55px ;
    width:55px ;
    background-color:rgba(17, 59, 53, 0.5) ;
    color:rgba(6, 255, 217, 1 ) ;
    border-radius:10px ;
}
  .contact-info-card {
    background-color:rgba(15, 23, 42, 0.6);
    border-radius:15px;
    min-width:15rem; 
    display: flex;
    gap: 15px;
    padding-left: 10px;
  }
.contact-logo{
    background-color:rgba(17, 59, 53, 0.5);
    border-radius:15px; 
    width:50px ;
    height:55px;  
    color:rgba(6, 255, 217, 1 );
    display:flex ;
    justify-content: center ;
    align-items: center;
}
@media(max-width:768px)
{.contact-card-text{
   font-size:12px ; 
   line-height:12px ; 
}
  .contact-info-card {
    display: flex;
    gap: 15px;
    padding-left: 10px;
  }

  
}