.exp-card {
  width: 100%;                 /* fluid */
  max-width: 900px;            /* desktop look preserved */
  border-left: 6px solid rgba(6, 255, 217, 1);
  border: 0.5px solid rgba(6, 255, 217, 0.2);
  border-left-width: 6px;
  border-radius: 0px 15px 15px 0px;
  background-color: rgba(15, 23, 42, 0.6);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.exp-card:hover{
   box-shadow:0px 10px 20px 1px  rgba(6, 255, 217, 0.1 );
}
.nav-item{
  display:flex ;
  align-items: top;
}
.nav-item p{
   display:flex ;
 
}
@media (max-width: 768px) {
  .exp-card {
    max-width: 100%;
    border-left: none;
    border-top: 4px solid rgba(6, 255, 217, 1);
    border-radius: 15px;
    
  }

  .exp-card ul {
    margin-left: 0 !important;
  }

  .exp-card .text-end {
    
    margin-top: 10px;
  }
  
  .nav-item p{
    font-size :14px ; 
  }
 
}