.hero-container{
  background: linear-gradient(155deg ,#090e1d 40% ,#0d1325b2);
  height:100% ; 
  
}
.home-title{
  line-height:60px; 
}
.hero-certificate-logo{
    border:1px solid rgba(6, 255, 217, 1 );
    border-radius:20px ; 
    max-width: 350px;
    padding: 10px 24px;
    background-color:rgba(17, 59, 53, 0.5);
    color:rgba(6, 255, 217, 1 );
}
.home-title-name{
    color:rgba(6, 255, 217, 1 ); 
    font-size:50px; 
    font-weight:bolder; 
}
.home-title{
    color:white; 
    font-size:50px; 
    font-weight:bolder; 
}
.hero-text{
    font-size:20px; 
    color:#94a3b8 ;
}
.hero-button-1{
    font-size:20px;
    font-weight:bolder;
    border:1px solid black;
    background-color:rgba(6, 255, 217, 1 );
    color:rgb(0, 14, 63);
    border-radius: 10px;
}
.hero-button-2{
    font-size:20px;
    font-weight:bolder;
    border:1px solid rgba(6, 255, 217, 1 );
    background-color:rgba(162, 162, 162, 0.075);
    color:white;
    border-radius: 10px;
    transition:all 0.3s linear;
}
.hero-button-2:hover{
    background-color:rgba(17, 59, 53, 0.5) ; 
}
.header-nav-scrolled{
  background:rgba(255, 255, 255, 0.103) ; 
  backdrop-filter:blur(10px);
   transition:background 0.3s , backdrop-filter 0.3s  ;
   color:rgba(6, 255, 217, 1 ); 
}
.header-nav{
  backdrop-filter: none;
  background-color: rgb(25, 25, 25);
  color:white ; 
}
.logo-name{
  font-size:30px ; 
}
@media(max-width:720px){
  .hero-button-1{
   line-height: 18px ;
}
.hero-button-2{
  line-height: 18px;   
}
.home-title{
  line-height:50px; 
}
}